* {  /* всем элементам страницы назначить */
    font-family: "Montserrat", sans-serif;  /* семейство шрифтов Montserrat */
    color: #323232;  /* цвет текста */
    font-size: 18px;  /* размер текста по умолчанию */
}

h1 {  /* стилизация для заголовков */
    font-size: 2.7rem;  /* берем фонт-сайз 18пх * 1.8 */
}

h2 {
    font-size: 1.9rem;
}

.about {  /* стилизация для элемента с классом about */
    background: #ffeee5;
}