{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{% block title %} Car rental system {% endblock %}</title>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="HandheldFriendly" content="true"/>
    <link rel="stylesheet" href="{% static 'assets/css/master.css' %}"/>
    <!-- SWITCHER-->
    <link href="{% static 'assets/plugins/switcher/css/switcher.css' %}" rel="stylesheet" id="switcher-css"/>
    <link href="{% static 'assets/plugins/switcher/css/color1.css' %}" rel="alternate stylesheet" title="color1"/>
    <link href="{% static 'assets/plugins/switcher/css/color2.css' %}" rel="alternate stylesheet" title="color2"/>
    <link href="{% static 'assets/plugins/switcher/css/color3.css' %}" rel="alternate stylesheet" title="color3"/>
    <link href="{% static 'assets/plugins/switcher/css/color4.css' %}" rel="alternate stylesheet" title="color4"/>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    {% if form %}
        {{ form.media }}
    {% endif %}
</head>

<body>
<!-- Loader-->
<div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span>
</div>
<!-- Loader end-->

<!-- MOBILE MENU-->
<div data-off-canvas="mobile-slidebar left overlay">
    <a class="navbar-brand scroll" href="{% url 'home' %}">
        <img class="normal-logo img-resonsive visible-xs visible-sm" src="{% static 'assets/media/general/logo.png' %}"
             alt="logo"/> <!-- мобильный и планшетный логотип -->
        <img class="scroll-logo img-resonsive hidden-xs hidden-sm"
             src="{% static 'assets/media/general/logo-dark.png' %}"
             alt="logo"/> <!-- десктоп логотип -->
    </a>
    <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">Home</a>
        </li>
        <li><a href="{% url 'contacts' %}"></a></li>
        <li><a href="{% url 'car_list' %}">Car Rental</a>
        </li>
    </ul>
</div>

<div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">
    <!-- Start Switcher-->
    <div class="switcher-wrapper">
        <div class="demo_changer">
            <div class="demo-icon text-primary"><i class="fa fa-cog fa-spin fa-2x"></i>
            </div>
            <div class="form_holder">
                <div class="predefined_styles">
                    <div class="skin-theme-switcher">
                        <h4>Color</h4>
                        <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color1"
                           style="background-color:#d01818"></a>
                        <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color2"
                           style="background-color:#FFAC3A"></a>
                        <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color3"
                           style="background-color:#28af0f"></a>
                        <a class="styleswitch" href="javascript:void(0);" data-switchcolor="color4"
                           style="background-color:#e425e9"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end switcher-->
    <header class="header header-boxed-width navbar-fixed-top header-background-white header-color-black header-topbar-dark header-logo-black header-topbarbox-1-left header-topbarbox-2-right header-navibox-1-left header-navibox-2-right header-navibox-3-right header-navibox-4-right">
        <div class="container container-boxed-width">
            <div class="top-bar">
                <div class="container">
                    <div class="header-topbarbox-1">
                        <ul>
                            <li><i class="icon fa fa-clock-o"></i> Mon - Fri : 0900am to 0600pm</li>
                            <li><i class="icon fa fa-phone"></i><a href="tel:+357333337611">+357333337611</a>
                            </li>
                            <li><i class="icon fa fa-envelope-o"></i><a href="mailto:support@rent_a_car.com">support@rent_a_car.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="navbar" id="nav">
                <div class="container">
                    <div class="header-navibox-1">
                        <!-- Mobile Trigger Start-->
                        <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button">
                            <i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i>
                        </button>
                        <!-- Mobile Trigger End-->
                        <a class="navbar-brand scroll" href="{% url 'home' %}">
                            <img class="normal-logo img-responsive" src="../../static/assets/media/general/logo.png"
                                 alt="logo"/>
                            <img class="scroll-logo hidden-xs img-responsive"
                                 src="../../static/assets/media/general/logo-dark.png" alt="logo"/>
                        </a>
                    </div>
                    <div class="header-navibox-2">
                        <ul class="yamm main-menu nav navbar-nav">
                            <li><a href="{% url 'home' %}">Home</a>
                            </li>
                            <li><a href="{% url 'contacts' %}">Контакты</a></li>
                            <li><a href="{% url 'car_list' %}">Car Rental</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">Выйти</a></li>
                            {% else %}
                                <li><a href="{% url 'login' %}">Войти</a></li>
                                <li><a href="{% url 'register' %}">Зарегистрироваться</a></li>
                            {% endif %} 
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end .header-->

    {% block content %}

    {% endblock %}

    <footer class="footer area-bg">
        <div class="area-bg__inner">
            <div class="footer__main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-section">
                                <a class="footer__logo" href="home.html">
                                    <img class="img-responsive" src="../../static/assets/media/general/logo.png"
                                         alt="Logo"/>
                                </a>
                                <div class="footer__info">Duis aute irure reprehend voluptate velit ese acium fugiat
                                    nula pariatur exceptus ipsum dolor sit amet consectetur adipisic elita sed eiusmod
                                    tempor.
                                </div>
                                <ul class="social-net list-inline">
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="facebook.com"><i
                                            class="icon fa fa-facebook"></i></a>
                                    </li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="twitter.com"><i
                                            class="icon fa fa-twitter"></i></a>
                                    </li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="linkedin.com"><i
                                            class="icon fa fa-linkedin"></i></a>
                                    </li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="instagram.com"><i
                                            class="icon fa fa-instagram"></i></a>
                                    </li>
                                    <li class="social-net__item"><a class="social-net__link text-primary_h"
                                                                    href="youtube.com"><i
                                            class="icon fa fa-youtube-play"></i></a>
                                    </li>
                                </ul>
                                <!-- end .social-list-->
                            </div>
                        </div>
                        <div class="col-md-3">
                            <section class="footer-section">
                                <h3 class="footer-section__title ui-title-inner">Address Information</h3>
                                <div class="footer-contact footer-contact_lg">Не звони нам<span class="text-primary"> +3753333376110</span>
                                </div>
                                <div class="footer-contact"><i class="icon icon-xs fa fa-envelope-o"></i>support@motorland.com
                                </div>
                                <div class="footer-contact"><i class="icon icon-lg fa fa-map-marker"></i>Fairview Ave,
                                    El Monte, CA, 91732
                                </div>
                                <div class="footer-contact"><i class="icon fa fa-clock-o"></i>Mon - Fri : 0900am to
                                    0600pm
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">Copyrights 2017<a class="copyright__brand" href="home.html">
                            MOTORLAND</a> All Rights Reserved<a class="copyright__link" href="privacy-policy.html">Privacy
                            Policy</a><a class="copyright__link" href="terms-of-use.html">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="btn-up" id="toTop">TOP</span>
        </div>
    </footer>
</div>
<!-- ++++++++++++-->
<!-- MAIN SCRIPTS-->
<!-- ++++++++++++-->
<script src="{% static 'assets/libs/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'assets/libs/jquery-migrate-1.2.1.js' %}"></script>
<!-- Bootstrap-->
<script src="{% static 'assets/libs/bootstrap/bootstrap.min.js' %}"></script>
<!-- User customization-->
<script src="{% static 'assets/js/custom.js' %}"></script>
<!-- Headers scripts-->
<script src="{% static 'assets/plugins/headers/slidebar.js' %}"></script>
<script src="{% static 'assets/plugins/headers/header.js' %}"></script>
<!-- Color scheme-->
<script src="{% static 'assets/plugins/switcher/js/dmss.js' %}"></script>
<!-- Select customization & Color scheme-->
<script src="{% static 'assets/plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<!-- Slider-->
<script src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
<!-- Pop-up window-->
<script src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Mail scripts-->
<script src="{% static 'assets/plugins/jqBootstrapValidation.js' %}"></script>
<!-- Filter and sorting images-->
<script src="{% static 'assets/plugins/isotope/imagesLoaded.js' %}"></script>
<!-- Progress numbers-->
<script src="{% static 'assets/plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'assets/plugins/rendro-easy-pie-chart/waypoints.min.js' %}"></script>
<!-- NoUiSlider-->
<script src="{% static 'assets/plugins/noUiSlider/nouislider.min.js' %}"></script>
<script src="{% static 'assets/plugins/noUiSlider/wNumb.js' %}"></script>
<!-- Animations-->
<script src="{% static 'assets/plugins/scrollreveal/scrollreveal.min.js' %}"></script>
<!-- Main slider-->
<script src="{% static 'assets/plugins/slider-pro/jquery.sliderPro.min.js' %}"></script>
<!-- User map-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqQ_bBw186KJnMcRByvn5ffZueg88wp1E"></script>
<!-- Maps customization-->
<script src="{% static 'assets/js/map-custom.js' %}"></script>
</body>

</html>