{% extends 'base.html' %}


{% block content %}

    <div class="about container-fluid">
        <h1>Online car rental system</h1>
        <div class="row">
            <div class="col-sm-8">
                <h2>About company</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A culpa cupiditate dolor, eligendi eveniet,
                   ex excepturi explicabo fugit, id ipsam libero nulla numquam quia veritatis voluptatum? Ducimus
                   expedita perspiciatis voluptate?</p>
                <p>A cum dolorem est iste provident quasi ratione! Hic minima, nulla officia praesentium qui quis
                   reprehenderit sint tempora voluptatem voluptates! Cupiditate in inventore maiores repudiandae sequi.
                   Ab nesciunt pariatur quidem?</p>
            </div>
            <div class="col-sm-4">
                <p>Тут будет лого!</p>
            </div>
        </div>
    </div>

{% endblock %}

