{% extends 'base.html' %}

{% block content %}
    {% if slider %}
        <div class="main-slider main-slider-1">
            <div class="slider-pro" id="main-slider" data-slider-width="100%" data-slider-height="850vh"
                 data-slider-arrows="true" data-slider-buttons="false">
                <div class="sp-slides">
                    {% for slide in slider %}
                        <div class="sp-slide">
                            <img class="sp-image" src="{{ MEDIA_URL }}{{ slide.img.url }}"
                                 alt="тут должна была быть картинка"/>
                            <div class="main-slider__wrap sp-layer" data-width="" data-position="centerLeft"
                                 data-horizontal="62%" data-show-transition="left" data-hide-transition="left"
                                 data-show-duration="2000" data-show-delay="1200" data-hide-delay="400">
                                <div class="main-slider__title">mercedes benz<span
                                        class="main-slider__label bg-primary">{{ slide.heading }}</span>
                                </div>
                                <div>{{ slide.text|safe }}</div>
                                <a class="main-slider__btn btn btn-white btn-lg" href="{{ slide.url }}">Узнать
                                    больше</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <h1>Основная страница</h1>
{% endblock %}